body{
  background-color: #187566;
}

#aboutMeCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#footer{
  color: #F6D55C;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
/* May need to specify IDs for spacing links in the future */
a {
  padding-left: 20px;
}

.carousel .item  {
  height: 300px !important;
}

.item img {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    min-height: 300px !important;
}

/* Option 1 - Green and Blue Variation:

    Dark Teal Green: #187566
    Sky Blue: #5DA9E9
    Lemon Yellow: #F6D55C */